@import url("https://use.typekit.net/ecx8ejn.css");

:root {--background-color: #111111}

h2 {
   font-weight: 500;
}

p {
   font-size: 15pt;
}

body {
   background-color: #111111;
   color: ghostwhite;
   font-size: 16pt;
}

.container-list {
   width: 100%;
   display: flex;
   justify-content: center;
}

.nav-bar > a {
   text-decoration: none;
   color: #e5e7eb;
   word-spacing: 1rem;
   transition: color 500ms;
   display: inline;
   position: relative;
   padding: 0.2em;
   overflow: hidden;
}

.nav-bar > a:hover {
   color: white
}

.nav-bar > a::after{
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 0.1em;
   background-color: white;
   opacity: 0;
   transition: opacity 300ms, transform 300ms;
}

.nav-bar > a:hover::after,
.nav-bar > a:focus::after {
   opacity: 100%;
   transform: translate3d(0, 0.2em, 0);
}

.container-hero {
   position: relative;
   width: 75%;
   height: 200px;

   margin: 50px auto 75px auto;
   
   display: flex;

   border: 1px solid white;
   border-color: white var(--background-color) white var(--background-color);

   transform: skewX(-25deg);

   animation-name: expand;
   animation-duration: 1.25s;
}

.hero-text {
   opacity: 0%;

   margin: auto;
   position: relative;

   transform: skewX(25deg);

   animation-name: opacity;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-delay: 1s;
   animation-fill-mode: forwards;

   cursor: default;
}

.container-work-experience {
   display: flex;
   flex-flow: row wrap;

   position: relative;
   margin: 5rem auto 50px auto;
   width: 80%;
   height: 200px;
   opacity: 0%;

   animation-name: opacity;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-fill-mode: forwards;

   font-size: large;
}

.container-about_me {
   position: relative;
   margin: 0px auto auto auto;
   width: 80%;
   height: 200px;
   opacity: 0%;

   animation-name: opacity;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-delay: 1.5s;
   animation-fill-mode: forwards;
}

.about-wrapper-text {
   margin: inherit;
   padding: 10px 20px 10px 20px;
}

#title-header {
   margin-bottom: 0;
}

.dot-section {
   width: 20px;
   padding-top: 28px;
   display: flex;
}
.dot {
   display: inherit;
   position: absolute;
   background-color: white;
   border-radius: 50%;
   justify-content: space-between;
}

.da {
   height: 10px;
   width: 10px;
   margin: 0px auto 0px auto;
}

.db {
   height: 10px;
   width: 10px;
   margin: 100px auto 0px auto;
}

.line {
   border-left: 4px solid white;
   height: 200px;
   margin-left: 3px;
   margin-top: 3px;
   animation-name: expand;
   animation-duration: 1s;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
}

.section-centerlon, .section-bravura {
   overflow: hidden;
   opacity: 0%;
   animation-name: opacity;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
}

.section-bravura {
   animation-delay: 50;
}

.section-centerlon {
   animation-delay: 150ms;
}

.item-list > li {
   animation-duration: 2.5s;
   animation-fill-mode: forwards;
   animation-timing-function: ease-in;
}

footer {
   margin: 10px auto 10px auto;
   font-size: medium;
   overflow: hidden;
   position: fixed;
   bottom: 0;
   text-align: center;
   width: 100%;
   opacity: 0%;

   animation-name: opacity;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-delay: 1.75s;
   animation-fill-mode: forwards;
}



@keyframes contract {from {height: 400px} to {height: 200px}}
@keyframes expand {from {height: 0px} to {height: 200px}}
@keyframes opacity {from {opacity: 0%} to {opacity: 100%}}

@keyframes expandContainer {
   from {
      width: 0px;
   }
   to {
      width: 200px;
   }
}

@keyframes expandList {
   from {
      margin-left: -200px;
   }
   to {
      margin-left: 0;
   }
}

