@import url("https://use.typekit.net/ecx8ejn.css");

body {
   background-color: #111111;
   font-size: 16pt;
}

.container-list {
   width: 100%;
   display: flex;
   justify-content: center;
}

.nav-bar > a:after{
   content:' | ';
}

.nav-bar > a:last-child:after{
   content: '';
}

.nav-bar > a {
   text-decoration: none;
   color: #e5e7eb;
   word-spacing: 1rem;
   transition: color 750ms;
}

.nav-bar > a:hover {
   color: white;
}
